*{
    margin: 0;
}

body{
    background-color: black;
}

.container{
    width: 70%;
    margin: auto;
    background-color: #fff;
  }

header{
    height: 100px;
    background-color: rgba(78,160,255,255);
    background-image: url(../img/pattern.png);
    background-size: 700px;
    background-position: 121px 301px;

}

.the-booleaner-logo{
    border-top: 40px solid transparent;  
    border-left: 10px solid transparent;
}

/* Titolo e sottotitolo*/
.title{
    font-size: 20px;
    margin-top: 10px;
    font-weight:900;    
}

h1{
    font-weight: bolder;
}


h2, h3  {
    margin-top: 0;
    color: rgba(145,145,145,1);
    border-bottom: 10px solid transparent;
}


span{
    color: rgba(103,197,237,1);
}


/* bordi del corpo centrale */
main, footer{
    border: 5px solid white;
}


/* Sezione foto */
.tim-photos{
    border-top: 10px;
}

figcaption{
    font-size: 10px;
}

/* Paragrafo */
.paragraph{
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}


/* lista */
.list{
    margin-bottom: 20px;
}

ul{
    list-style-type: none; 
    padding-left: 0;       
    margin-left: 0;        
}

/* tabella */
th, td{
    width: 25%;
    text-align: left;
}

thead{
    background-color: rgba(32,169,229,1);
}

.blue-background{
    background-color: rgba(177,229,242,255);
}
.long-cell{
    width: 50%;
}


/* Cose che potrebbero interessarti */

.monitor, .graph{
    height: 150px;
    width: 250px;
    border-bottom: 10px solid white;
}

.monitor{
    background-image:url(../img/monitor.jpg);
    background-position: center;
    background-size: cover;
}

.graph{
    background-image:url(../img/graph.jpg);
    background-position: center;
    background-size: cover;
}

b{
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    color: white;
}